body{
    font-family: 'Hind', sans-serif;
    height: 100%;
    padding-bottom: 60px;
    background: url(../assets/images/aqua.png)
}
.navbar-inverse {
    font-size: 20px;
    font-family:'Patua One', cursive;
}

.navbar-brand {
    font-size: 30px;
    font-family:'Patua One', cursive;
}

.header {
    border-bottom: solid #dddddd 2px;
    margin-bottom: 18px;
}
h1{
    font-family: 'Patua One', cursive;
    font-size: 25px;
}

.bio {
    font-size: 18px;
}
.panel-title {
    font-size: 25px;
    font-family: 'Patua One', cursive;
}

.panel-default>.panel-heading {
    padding-bottom: 18px;
}


.footer {
    position: absolute;
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 6px;
    background: #dddddd; 
    height: 56px;
}

.col-md-8 {
    background: #ffffff;
    border: solid #dddddd 2px;
    height: 80%;
    margin-bottom: 20px;
    overflow: auto;
}

.creations {
    position: relative;
}
.img-label {
    width: 250px;
    background: mediumaquamarine;
    color: #fff;
    position: relative;
    left: 23px;
    bottom: 35px;
    font-size: 20px;
}

.connect {
    width: 30%;
    height: auto;
    padding-left:20px;
}
#copyright {
    text-align: center;
}

