body{
    font-family: 'Hind', sans-serif;
    height: 100%;
    padding-bottom: 60px;
    background: url(../assets/images/subtle_grunge.png)
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

h1, h3 {
    font-family: font-family: 'Patua One', cursive;
}

.footer {
    position: absolute;
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 4px;
    background: 
    height: 56px;
}

.col-md-8 {
    background: #ffffff;
    border: solid #dddddd 2px;
    height: 80%;
    margin-bottom: 20px;
    overflow: auto;
}

#copyright {
    text-align: center;
}

